.out_book{
    position: relative;
    top: 5vh;
    left: 0;
    
}
.out_book.img{
    position: absolute;
    top: 10%;
    right: 30%;
    display: flex;
    transform: scale(2)
}
.form{
    position: relative;
    top: 5vh;
    right: 0;
}
/* 
.submit{
    position: relative;
    top: 50vh;
}

.submit>p{
    font-weight: bold;
} */

@media screen and (max-width: 820px) {
    .out_book.img{
    }
}


@media screen and (max-width: 470px) {

}