.img {
    position: absolute;
    width: 25%;
    display: flex;
    flex-direction: column;
    transform: scale(0.7);
}

.out_book {
    position: absolute;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-align: center;
}

.submit {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 65%;
    margin-right: 5%;
    position: relative;
    display: flex;
    padding: 0 2vw;
    background-color: gray;
}



@media screen and (max-width: 1110px) {
    .img {
        transform: scale(1);
        width: 50%;
        position: relative;
        margin-left: 25%;
    }

    .out_book {
        position: relative;
        margin-top: 10%;
    }

    .submit {
        position: relative;
        margin-left: 10%;
    }

}

@media screen and (max-width: 470px) {
    .out_book {
        position: relative;
    }

    .submit {
        transform: scale(0.8);
        position: relative;

    }

    .img {
        width: 70%;
        display: flex;
        transform: scale(0.7);
        margin-left: 15%;
        position: relative;

    }
}