.bookImage {
    height: 300px;
}

.showBook {
    justify-content: center;
}

.showBook-container {
    width:75%;
}

.singleBook {
    width: 50%;
    flex-direction: column;
    margin: 4rem auto 2rem 2rem;
    align-items: center;
    text-align: center;
}

.appointmentForm {
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
}

.outBook{
    margin-top: 2rem;
    margin-right: 1rem;
}

.fileInput {
    padding-left: 0px;
}

.formTitle {
    border-bottom: solid 1px black;
}

.pendingBook {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:30rem;
}

.pendingBook p {
    padding:1rem;
    border-radius:5%;
    border:solid 5px red;
}

@media screen and (max-width: 820px) {
    .showBook-container {
        flex-direction: column;
    }

    .outBook {
        width: 90%;
    }
    .singleBook {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 1rem;
    }

    .bookImage {
        height: 200px;
    }

    .outBook {
        margin-left: 2rem;
        margin-top: 0px;
    }

    .appointmentForm {
        display: flex;
        justify-content: center;
        margin-top: 0px !important;
    }

    .formTitle {
        border-top: solid 1px black;
        padding-top: 1rem;        
    }
}

@media screen and (max-width: 450px) {
    .singleBook {
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }

    .outBook {
        margin-left: 0;
        margin-top: 2rem;
    }
}