.footer{
    color: white;
    background-color: #32522f;
    width: 100%;

}
.column{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;    
}


.col-sm{
    justify-content: center;
    display: flex;
}
