.footer{
    color: white;
    background-color: #32522f;
    position: fixed;
    width: 100%;
    bottom:0;

}
.column{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    padding: 1rem ;
    margin: 2rem;
    
    
}

.col-sm{
    justify-content: center;
    display: flex;
}


