@keyframes flash {
    from { color: blueviolet;
    }
    to { color:aqua;
    }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.banner{
    border-bottom: solid 2px grey;
    margin-left: 20%;
    animation: flash 2s infinite alternate;
    font-weight: bold;

}
.intro{
    margin-left: 20%;
    /* animation: flash 2s infinite alternate; */
    margin-top: 2%;
}

.Fbooks{
    border-bottom: solid 2px grey;
    margin-left: 20%;
    animation: flash 2s infinite alternate;
    font-weight: bold;

}

.Lbooks{
    border-bottom: solid 2px grey;
    margin-left: 20%;
    animation: flash 2s infinite alternate;
    font-weight: bold;

}

.book-link{
    float: right;
    padding: 1rem;
    /* background-color: #32522f; */
    color: black;
    font-weight: bold;
}

.book-link:hover {
    color: #d4af37;
}

/* form {
    position: absolute;
    top: 120px;
    width: 20%;
    display: flex;
    flex-direction: column;
} */

#address {
    position: absolute;
    top: 50%;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #32522f;
    z-index: 1;
    color: white;
    
}


.loc-link{
    color: white;
    padding: 6px 8px 6px 16px;
}

.loc-link:hover {
    color: #d4af37;
}