.books{
    float: left;
    
}

/* .title{
    align-items: center;
    display: flex;
    justify-content: center;
} */

/* .books {
    position: relative;
    float: right;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    color: white;
    border-radius: 20%; 
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.877);
    margin-bottom: 5rem;
}

.books img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 1rem;
    color: white;
    height: 200px;
    border-radius: 0.5rem 0.5rem 0 0;
    transform: translateY(0%);
    
}

.txt span {
    opacity: 0;
    transition: opacity 0.5s 0.5s;
    background: rgba(0, 0, 0, 0.664);
    padding: 0rem 1rem 0rem 1rem;
}

.img:hover .txt span {
    opacity: 1;
} */