#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form.signup, form.login {
    display: flex;
    align-items: center;
    gap:0.5rem;
    width: 20rem;
    margin: 40px auto;
    padding-bottom: 0.5rem;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border:2px solid #32522f;
    font-weight:bold;
}

.login-title {
    width:20rem;
    padding: 0.5rem;
    text-align: center;
    color: white;
    font-weight: 250;
    background-color:#32522f;
}

.submit-button {
    width:200px;
    color:white;
    background-color: #32522f;
}