.navbar {
    background-color: #32522f;
    --bs-navbar-padding-y: 0;
}

.nav-link {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: #d4af37;
}

#logo {
    width: 5rem;
}

#navbarNav {
    justify-content: end;
}

@media screen and (max-width: 420px) {
    #logo {
        width: 4rem;
    }

    .nav-link {
        font-size: 12px;
        padding: 8px;
    }
}

@media screen and (max-width: 319px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #navbarNav {
        display: grid;
        justify-content: center;
        padding: 0;
    } 
}