#logo {
    margin: 5px;
}

.navbar {
    padding: 0;
    background-color: #32522f;
    position: relative;
}

.nav-link {
    color: white;
    font-size: 20px;
}

.nav-link:hover {
    color: #d4af37;
}

.nav-link:focus {
    color: white;
}


#navbarNav {
    justify-content: end;
}

@media screen and (max-width: 500px) {
    .nav-link {
        font-size: 18px;
        padding: 8px;
    }
}

@media screen and (max-width: 420px) {
    .nav-link {
        font-size: 12px;
    }

    img {
        width: 50px;
    }
}

@media screen and (max-width: 319px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #navbarNav {
        display: grid;
        justify-content: center;
        padding: 0;
    }

    #logo {
        margin: 5px 0px;
    }
}