#showbooks {
    margin-left: 20%; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
}

@media screen and (max-width: 820px) {    
    #showbooks {
        margin: 0px;
    }
}