.footer{
    color: white;
    background-color: #32522f;

}
.column{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    padding: 1rem;
    
}
.col{
    margin: 1rem;
}